@font-face {
    font-family: merri;
    src: url(./font/Merriweather-Regular.ttf);
}
@font-face{
    font-family: opensans;
    src: url(./font/OpenSans.ttf);
}

/*Estilo para toda la pagina*/
* {
    font-family: "opensans";
    font-size: 8px;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "merri";
    font-size: 2.5rem;
    text-transform: uppercase;
}

p {
    font-size: 1.6rem;
}

/*Estilo encabezado*/
header {
    min-height: 10vh;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: white;
    padding: 10px;
}

li {
    display: inline;
    justify-content: space-around;
    text-transform: uppercase;
    color: white;
    padding: 10px;
}

li a {
    color: white;
    text-decoration: none;
}

/*Estilo section*/

section {
    height: 500px;
}


/*Estilo de la section Inicio*/

#inicio {
    background-image: url(./img/showcase.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#divinicio {
    margin: 1rem;
    width: 600px;
    text-align: right;
    color: white;
}

/*Estilo cajas de servicios*/

#servicios {
    padding: auto;
    align-content: center;
    background-color: black;
}

#servicios h2 {
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 40px;
    max-height: 40px;
}

#servicios h3 {
    color: white;
    text-align: left;
}

#servicios p {
    color: white;
    text-align: left;
}

.contenedorservicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;

}

#enlaces {
    padding: 2rem;
    margin: 0.5rem;
    flex: 1;
}

/*Estilo de Acerca de*/

#acerca {
    text-align: center;
    padding: 10rem 0;
    background-color: #343434;
    color: white;
}

#acercatitulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: white;
}

#acercadiv {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Divide en dos columnas iguales */
    gap: 4rem;  /* Espacio entre columnas */
}

#divder p,
#divizq p {
    margin-bottom: 2rem;
    line-height: 1.6;
    padding: 2rem;
}

/*Estilo formulario*/

#formulario {
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
}

#form {
    width: 50%;
    margin: auto;
    padding: 5rem;
}


label {
    font-size: 1.6rem;
    margin: 1.6rem;
}

input, textarea {
    border-radius: 0.4rem;
    padding: 0.6rem 1.2rem;
    width: 100%;
    margin: 1rem;
}

 #formulario h2 {
    text-align-last: center;
 }